<!DOCTYPE html>
<html>
  <head>
    <title>IParts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <header>
      <div class="header-title">
        <h1>I-Parts</h1>
      </div>
      <div class="header-nav">
        <ul class="nav-list">
          <li><a href="/">トップページ<a></li>
          <li><a href="/posts/new">投稿する<a></li>
          <li><a href="#">マイページ</a></li>
        </ul>
      </div>
    </header>
    
    <%= yield %>
    
    <footer>
      <p>Copyright(C) I-Parts ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
